.thumb img {
    height: 200px;    
}


.left-justify {
    margin-left: 100px;
}

.narrow {
    width: 300px;
}

.row {
    position: relative;
}
.row a {
    position: absolute;
    bottom: 0;
}

.top-pad-100 {
    margin-top: 100px;
    border: 1px solid black;
}

.top-pad-50 {
    margin-top: 50px;
}

.bottom-pad-50 {
    margin-bottom: 50px;
}

