/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2016, 11:42:19 PM
    Author     : Jackie
*/

.thumb img {
    height: 200px;    
}


.left-justify {
    margin-left: 100px;
}

.narrow {
    width: 300px;
}

.row {
    position: relative;
}
.row a {
    position: absolute;
    bottom: 0;
}
