.thumb img {
    height: 200px;    
}


.left-justify {
    margin-left: 100px;
}

.narrow {
    width: 300px;
}

.popover {
    width : 400px;
}

.row {
    position: relative;
}
.row a {
    position: absolute;
    bottom: 0;
}

.top-pad-100 {
    margin-top: 100px;
    border: 1px solid black;
}

.top-pad-50 {
    margin-top: 50px;
}

.bottom-pad-50 {
    margin-bottom: 50px;
}
.order-head {
    background: #FFFC9A;
    overflow: auto;
}

.order-head .title {
    float:left;
    padding-left: 5px;
}

.order-head .date {
    float:right;
    padding-right: 5px;
}

.disabled {
    color: lightgray;
    background-color: white;
}

.auto-input {
    width: auto;
}

.table-width-custom {
    width: auto;
}

.left-pad-25 {
    padding-left: 25px;
}

.emphasis-red {
    color : red;
    font-style: italic;
}



